<Div Margin="Margin.IsAuto.OnX" TextAlignment="TextAlignment.Center">
    <Div Padding="Padding.Is5.OnY">
        <DisplayHeading Size="DisplayHeadingSize.Is1" TextWeight="TextWeight.Bold" TextColor="TextColor.Primary" Margin="Margin.Is4.FromBottom">
            404
        </DisplayHeading>
        <Paragraph TextSize="TextSize.ExtraLarge" Margin="Margin.Is4.FromBottom">
            Something's missing.
        </Paragraph>
        <Paragraph Margin="Margin.Is4.FromBottom">
            Sorry, the page you’re looking for doesn't exist.
        </Paragraph>
        <Button Type="ButtonType.Link" Color="Color.Primary" Size="Size.Large" Shadow="Shadow.Default"
                Border="Border.Is2.Primary.OnAll.Rounded"
                To="">
            Back to Homepage
        </Button>
    </Div>
</Div>