@page "/"

<Jumbotron Background="Background.Dark"
           Margin="Margin.IsAuto.OnX.Is4.FromTop">
    <JumbotronTitle Size="JumbotronTitleSize.Is2">
        Welcome to our Humble Magic The Gathering project!
    </JumbotronTitle>
    <JumbotronSubtitle>
        Currently under development
    </JumbotronSubtitle>
    <Text>
        Planned Features include:
    </Text>
</Jumbotron>
<Div Margin="Margin.IsAuto.OnX">
    <Div Flex="Flex.Column.AlignItems.Center" Padding="Padding.Is5.OnY">
        <Div Flex="Flex.Column.AlignItems.Center" TextAlignment="TextAlignment.Center">
            <Paragraph TextColor="TextColor.Primary" TextWeight="TextWeight.Bold" TextSize="TextSize.Large" Margin="Margin.Is4.FromBottom">
                Very proud to introduce
            </Paragraph>
            <Heading Size="HeadingSize.Is1" TextWeight="TextWeight.Bold" Margin="Margin.Is4.FromBottom">
                A MAUI Blazor based Fan project for viewing Magic the Gathering Cards
            </Heading>
            <Div Flex="Flex.Column.Row.OnDesktop.JustifyContent.Center" Gap="Gap.Is2">
                <Button Color="Color.Primary" Size="Size.Large">
                    Start now
                </Button>
                <Button Color="Color.Secondary" Size="Size.Large">
                    Take tour
                </Button>
            </Div>
        </Div>
    </Div>
</Div>
