@page "/my-collection"
<Div Margin="Margin.IsAuto.OnX">
    <Heading Size="HeadingSize.Is2" Margin="Margin.Is3.FromBottom" TextAlignment="TextAlignment.Center">
        Find the right plan for your team
    </Heading>

    <Paragraph Margin="Margin.Is4.OnY" TextAlignment="TextAlignment.Center">
        Blazorise has got you covered. With our awesome plans it has never been easier to design.
    </Paragraph>

    <CardDeck>
        <Card Shadow="Shadow.Default">
            <CardBody>
                <CardTitle Size="2" TextAlignment="TextAlignment.Center">
                    Personal
                </CardTitle>
                <CardText TextAlignment="TextAlignment.Center">
                    Perfect for using in a personal website or a client project.
                </CardText>
            </CardBody>
            <CardBody Flex="Flex.JustifyContent.Center.AlignItems.Baseline">
                <DisplayHeading Size="DisplayHeadingSize.Is4">
                    $59
                </DisplayHeading>
                <Text>
                    /month
                </Text>
            </CardBody>
            <CardBody>
                <UnorderedList Unstyled>
                    <UnorderedListItem Padding="Padding.Is2.OnY">
                        <Icon Name="IconName.Check" TextColor="TextColor.Success" />
                        <Text>1 User</Text>
                    </UnorderedListItem>
                    <UnorderedListItem Padding="Padding.Is2.OnY">
                        <Icon Name="IconName.Check" TextColor="TextColor.Success" />
                        <Text>All UI components</Text>
                    </UnorderedListItem>
                    <UnorderedListItem Padding="Padding.Is2.OnY">
                        <Icon Name="IconName.Check" TextColor="TextColor.Success" />
                        <Text>Use on <Strong>1 (one)</Strong> project</Text>
                    </UnorderedListItem>
                    <UnorderedListItem Padding="Padding.Is2.OnY">
                        <Icon Name="IconName.Check" TextColor="TextColor.Success" />
                        <Text>Premium support: </Text><Strong>3 months</Strong>
                    </UnorderedListItem>
                    <UnorderedListItem Padding="Padding.Is2.OnY">
                        <Icon Name="IconName.Check" TextColor="TextColor.Success" />
                        <Text>Free updates: </Text><Strong>3 months</Strong>
                    </UnorderedListItem>
                </UnorderedList>
                <Button Color="Color.Primary" Outline Block>
                    Choose Personal
                </Button>
            </CardBody>
        </Card>
        <Card Shadow="Shadow.Default">
            <CardBody>
                <CardTitle Size="2" TextAlignment="TextAlignment.Center">
                    Business
                </CardTitle>
                <CardText TextAlignment="TextAlignment.Center">
                    Perfect for using in a Business website or a client project.
                </CardText>
            </CardBody>
            <CardBody Flex="Flex.JustifyContent.Center.AlignItems.Baseline">
                <DisplayHeading Size="DisplayHeadingSize.Is4">
                    $199
                </DisplayHeading>
                <Text>
                    /month
                </Text>
            </CardBody>
            <CardBody>
                <UnorderedList Unstyled>
                    <UnorderedListItem Padding="Padding.Is2.OnY">
                        <Icon Name="IconName.Check" TextColor="TextColor.Success" />
                        <Text>5 User</Text>
                    </UnorderedListItem>
                    <UnorderedListItem Padding="Padding.Is2.OnY">
                        <Icon Name="IconName.Check" TextColor="TextColor.Success" />
                        <Text>All UI components</Text>
                    </UnorderedListItem>
                    <UnorderedListItem Padding="Padding.Is2.OnY">
                        <Icon Name="IconName.Check" TextColor="TextColor.Success" />
                        <Text>Use on <Strong>3 (Three)</Strong> project</Text>
                    </UnorderedListItem>
                    <UnorderedListItem Padding="Padding.Is2.OnY">
                        <Icon Name="IconName.Check" TextColor="TextColor.Success" />
                        <Text>Premium support: </Text><Strong>4 months</Strong>
                    </UnorderedListItem>
                    <UnorderedListItem Padding="Padding.Is2.OnY">
                        <Icon Name="IconName.Check" TextColor="TextColor.Success" />
                        <Text>Free updates: </Text><Strong>4 months</Strong>
                    </UnorderedListItem>
                </UnorderedList>
                <Button Color="Color.Primary" Block>
                    Choose Business
                </Button>
            </CardBody>
        </Card>
        <Card Shadow="Shadow.Default">
            <CardBody>
                <CardTitle Size="2" TextAlignment="TextAlignment.Center">
                    Professional
                </CardTitle>
                <CardText TextAlignment="TextAlignment.Center">
                    Perfect for using in a Professional website or a client project.
                </CardText>
            </CardBody>
            <CardBody Flex="Flex.JustifyContent.Center.AlignItems.Baseline">
                <DisplayHeading Size="DisplayHeadingSize.Is4">
                    $256
                </DisplayHeading>
                <Text>
                    /month
                </Text>
            </CardBody>
            <CardBody>
                <UnorderedList Unstyled>
                    <UnorderedListItem Padding="Padding.Is2.OnY">
                        <Icon Name="IconName.Check" TextColor="TextColor.Success" />
                        <Text>Unlimited Users</Text>
                    </UnorderedListItem>
                    <UnorderedListItem Padding="Padding.Is2.OnY">
                        <Icon Name="IconName.Check" TextColor="TextColor.Success" />
                        <Text>All UI components</Text>
                    </UnorderedListItem>
                    <UnorderedListItem Padding="Padding.Is2.OnY">
                        <Icon Name="IconName.Check" TextColor="TextColor.Success" />
                        <Text>Use on Unlimited project</Text>
                    </UnorderedListItem>
                    <UnorderedListItem Padding="Padding.Is2.OnY">
                        <Icon Name="IconName.Check" TextColor="TextColor.Success" />
                        <Text>Premium support: </Text><Strong>12 months</Strong>
                    </UnorderedListItem>
                    <UnorderedListItem Padding="Padding.Is2.OnY">
                        <Icon Name="IconName.Check" TextColor="TextColor.Success" />
                        <Text>Free updates: </Text><Strong>12 months</Strong>
                    </UnorderedListItem>
                </UnorderedList>
                <Button Color="Color.Primary" Outline Block>
                    Choose Professional
                </Button>
            </CardBody>
        </Card>
    </CardDeck>
</Div>